@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Amsterdam Four';
    src: url('./assets/fonts/Amsterdam.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

input{
  background-color: transparent !important;
}